# Credenciais da API do Portal da Transparência
API_KEY=sua_chave_aqui

# Configurações do Banco de Dados Oracle (Modo Thin)
ORACLE_USER=seu_usuario
ORACLE_PASSWORD=sua_senha
ORACLE_DSN=host:porta/service_name
